/* Estilo general del cuerpo */
body {
    font-family: Arial, sans-serif; /* Fuente sencilla */
    margin: 0;
    padding-top: 56px;

}
.section {
    padding: 60px 0;
}
/* Contenedor de la cabecera */
/* CABECERA: Asegura que la cabecera tenga el fondo completo */
.header .navbar{
 /* centra los botones */
    background-color: whitesmoke !important; /* beige completo */
}


/* Estilo para cada botón de navegación */
.bloque {
    background-color: white; /* fondo blanco */
    border: 1px solid gray; /* borde gris grueso */
    padding: 10px 20px;
    margin: 10px;
    text-align: center;
    font-weight: bold;
    border-radius: 8px;
    color: #555; /* gris suave para el texto */
    box-shadow: 2px 2px 1px rgba(0,0,0,0.1); /* sutil sombra */
}

.carousel-item img {
    width: 100%;
    height: auto; /* Adjust height to auto for responsiveness */
    object-fit: cover;
}

#carouselExampleIndicators {
    display: block !important;
    flex-wrap: wrap !important;
}
#promos .text-left {
    font-family: Arial, sans-serif;
    color: gray;
    font-weight:normal;
    margin-top:20px;
    margin-bottom: 30px;

}

/* Customize "Añadir al carrito" buttons inside #promos */
#promos .btn-primary {
    background-color: #ff5722; /* Custom orange background */
    border-color: #ff5722;
    color: white;
    display: block;
    margin: 0 auto; /* Center align the button */
    margin-top: 20px;
    width: fit-content;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: normal;
    text-align: center;
    transition: background-color 0.3s ease;
}

#promos .btn-primary:hover {
    background-color: #bb3309; /* Darker orange on hover */
    border-color: #be3106;
    color: white;
}

#titulo.text-center{
    color:#ff5722;
    font-family: Arial, sans-serif;
    font-weight:normal;
    margin-top:30px;
}

.card-body{
    text-align: justify;
}


/* Center images inside cards in #como_comprar */
#como_comprar .card-img-top {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
}

.paso4{
   margin:20px;
}
