/* Estilo general del cuerpo */
body {
    font-family: Arial, sans-serif; /* Fuente sencilla */
    margin: 0;
    padding-top: 56px;

}
.section {
    padding: 60px 0;
}
/* Contenedor de la cabecera */
/* CABECERA: Asegura que la cabecera tenga el fondo completo */
.header .navbar{
 /* centra los botones */
    background-color: whitesmoke !important; /* beige completo */
}


/* Estilo para cada botón de navegación */
.bloque {
    background-color: white; /* fondo blanco */
    border: 1px solid gray; /* borde gris grueso */
    padding: 10px 20px;
    margin: 10px;
    text-align: center;
    font-weight: bold;
    border-radius: 8px;
    color: #555; /* gris suave para el texto */
    box-shadow: 2px 2px 1px rgba(0,0,0,0.1); /* sutil sombra */
}

.carousel-item img {
    width: 100%;
    height: auto; /* Adjust height to auto for responsiveness */
    object-fit: cover;
}

#carouselExampleIndicators {
    display: block !important;
    flex-wrap: wrap !important;
}
